@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/


:root {
  --main-accent: linear-gradient( #FFC593,#BC7198,#5A77FF );
  --pure-Black: #000000;
  --light-grey: #dfdfdf;
  --pure-white: #ffffff;

  --fs-500: 0.75rem;
  --fs-550: 0.9375rem;
  --fs-700: 1.125rem;
  --fs-800: 1.5rem;
  --fs-900: 2.5rem;

  --fw-reg: 400;
  --fw-bold: 700;
  

}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(300ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}


/* Navbar */

nav{
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.nav-btn {
  font-weight: var(--fw-bold);
  color: var(--pure-white);
  background: var(--pure-Black);
  height: 2.5rem;
  width: 9.875rem;
}


/* Home */
.hero_section{
  display: grid;
  grid-template-columns: 1.7fr 2fr;
}

.hero{
  background-color: var(--pure-Black);
  text-align: left;
}

.rectangle{
  background-image: linear-gradient(#FFC593,#BC7198,#5A77FF);
}

h1{
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}


.stories-1{
  display: grid;
  grid-template-columns: 2fr 1.5fr ;
}

.stories-2{
  display: grid;
  grid-template-columns: 1fr 1.5fr ;
}

.story-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.features{
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  gap: 2rem;
  align-items: center;
}


.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Footer */

footer{
  background-color: var(--pure-Black);
  color: var(--pure-white);
}
.container{
  display: grid;
  grid-template-areas: 
  "footer_logo   nav_links cpy_invite"
  ".             nav_links cpy_invite"
  "social_links  nav_links          ."
  ;
}

.footer_logo{
  grid-area: footer_logo;
}

.social_links{
  grid-area: social_links;
}

.nav_links{
  font-size: var(--fs-550);
  font-weight: var(--fw-bold);
  grid-area: nav_links;
}

.cpy_invite{
  grid-area: cpy-invite;
}

.cpy{
  color: grey;
  font-size: var(--fs-550);
}